<h3>Find by Zipcode</h3>

<form action="/weather" method="GET">

    <label for="zipcode">Zipcode: </label>
    <input type="text" name = "zipcode">
    <button type="submit">Click me</button>
    
</form>